body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe3dc;
  color: #3a2d32;
}

.App {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #d30c7b;
  font-size: 18px;
  letter-spacing: 2.5px;
  font-weight: bold;
}

img {
  height: 100px;
}

input[type="text"] {
  margin-top: 10px;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #dbb4ad;
}

.countries {
  margin-top: 20px;
}

.country{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

button{
  margin-left: 10px;
  border: none;
  height: 35px;
  border-radius: 4px;
  background-color:#A2AD91;
  color: white;
  transition: background .4s;
}

button:hover{
  cursor: pointer;
  background-color: #707567
}
